body {
  display: flex;
  flex-direction: column;
  background-image: url('images/Lamp\ home\ page.jpg');
  background-size: 1250px 740px;
  background-position: top;
  background-position-x: center;
  background-repeat: no-repeat;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin-top: -40px;
  display: flex;
  color: aliceblue;
  text-align: center;
  font-size: 35px;
  font-style: italic;
  height: 150px;
}

main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  height: 460px;
}

#buttons {
  display: flex;
  flex-direction: column;
}

.home-button {
  text-decoration: none;
  text-align: center;
  padding: 25px 15px;
  background-color: rgb(152, 4, 250);
  opacity: 95%;
  border-style: hidden;
  border-radius: 6px;
  font-size: 25px;
  color: aliceblue;
  box-shadow: rgba(15, 247, 247, 0.589) 0 3px 3px 3px, rgba(17, 248, 237, 0.301) 0 6px 6px 6px, rgba(63, 255, 245, 0.2) 0 9px 9px 9px, rgba(46, 240, 224, 0.1) 0 12px 12px 12px, rgba(46, 217, 240, 0.05) 15px 15px;
  margin-bottom: 40px;
  align-self: center;  
}

.medium {
  width: 250px;
}

#last-buttons {
  display: flex;
  justify-content: space-between;
}

.last {
  width: 160px;
  text-align: center;
  margin: 0 15px;
}

footer {
  color: whitesmoke;
  text-align: center;
}

#div-about-me {
  background-image: url('images/Tech-news.jpg');
  width: 420px;
  height: 740px;
  background-size: 1150px 440px;
  margin-top: 20px;
  margin-left: -10px;
  color: whitesmoke;
}

#div-about-me h2 {
  margin-top: 120px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 100px;
}

#div-about-me .text {
  text-align: center;
  margin: 0 45px;
  font-size: 20px;
}

