body {
  display: flex;
  flex-direction: column;
  background-image: url('images/Lamp\ home\ page.jpg');
  background-size: 1400px;
  background-position: top;
  background-position-x: center;
  background-repeat: no-repeat;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

header {
  display: flex;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  /* border: 1px solid; */
  height: 200px;
}

main {
  display: flex;
  flex-direction: column;
}

.home-button {
  align-self: center;
  padding: 25px 35px;
  background-color: rgb(152, 4, 250);
  border-style: hidden;
  border-radius: 6px;
  font-size: 25px;
  color: aliceblue;
  box-shadow: rgba(15, 247, 247, 0.589) 3px 3px, rgba(17, 248, 237, 0.301) 6px 6px, rgba(63, 255, 245, 0.2) 9px 9px, rgba(46, 240, 224, 0.1) 12px 12px, rgba(46, 217, 240, 0.05) 15px 15px;
}


